<app-header></app-header>

<!-- <div class="section_gap_top"></div> -->

<section class="section_gap_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>Didn't get enough information? Want to hire me? Feel free to contact me at one of the channels below.</p>
      </div>
      <div class="col-lg-8"></div>
    </div>
  </div>
</section>

<!--================Contact Area =================-->
<section class="contact_area section_gap_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact_info">
          <div class="info_item">
            <i class="lnr lnr-home"></i>
            <h6>Toronto, Canada</h6>
            <p>700 Humberwood Blvd, Suite 1730</p>
          </div>
          <div class="info_item">
            <i class="lnr lnr-phone-handset"></i>
            <h6><a href="#">(647) 453-4894</a></h6>
            <!-- <p>Mon to Fri 9am to 6 pm</p> -->
          </div>
          <div class="info_item">
            <i class="lnr lnr-envelope"></i>
            <h6><a href="#">kenneth.cootauco@outlook.com</a></h6>
            <p>Send us your query anytime!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="row contact_form" id="contactForm">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="name" class="form-control" id="name" name="name" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control" id="email" name="email" placeholder="Enter email address" email required>
            </div>
            <div class="form-group">
              <input type="text" formControlName="subject" class="form-control" id="subject" name="subject" placeholder="Enter Subject" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea class="form-control" formControlName="body" name="message" id="message" rows="1"
                placeholder="Enter Message" required></textarea>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <!-- <div nbRecaptcha key="6LdQLf8ZAAAAAGx_pacziwsMywRpDEbxTNGEvvZQ" formControlName="captcha"></div> -->
            <re-captcha (resolved)="resolved($event)" siteKey="6LdQLf8ZAAAAAGx_pacziwsMywRpDEbxTNGEvvZQ" required formControlName="captcha"></re-captcha>
            <!-- <button (click)="resolved($event)" >Important</button> -->
          </div>
          <div class="col-md-12 text-right">
            <button type="submit" value="submit" class="primary_btn">
              <span>Send Message</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--================Contact Area =================-->
