<app-header></app-header>
<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">Hi,</h3>
            <h1 class="text-uppercase">My name is Ken</h1>
            <h5 class="text-uppercase">Front & Backend Developer</h5>
            <div class="d-flex align-items-center">
              <a class="primary_btn" href="#"><span>Hire Me</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class="" src="assets/img/banner/home-right.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<!-- <section class="about_area section_gap"> -->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <img class="" src="assets/img/software_enginner.svg" alt="">
      </div>
      <div class="offset-md-1 col-lg-5">
        <div class="main_title text-left">
          <h2>A little about me</h2>
          <p>
            <!-- reference the body of the backend response. -->
            {{ getWelcomeText() }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Start Features Area =================-->
<section class="features_area section_gap_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Technical Skillset</h2>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="img/services/s1.png" alt="">
          <h4>UI/UX Development & Design</h4>
          <p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="img/services/s2.png" alt="">
          <h4>Backend API Development</h4>
          <p>
            With a focus on Java, Node.js, Python.  Experience with major frameworks including - Spring & Express
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="img/services/s3.png" alt="">
          <h4>Multi-Cloud</h4>
          <p>
            Experience Developing & Deploying in the 3 major cloud providers - AWS, GCP & Azure.
            Including Hybrid cloud solutions involving Kubernetes (Native & OpenShift)
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="img/services/s4.png" alt="">
          <h4>DevOps</h4>
          <p>Automated deployments using various scripting languages (Python, shell, makefile).  Jenkins pipelines.  AWS CodePipeline.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Features Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer_top flex-column">
          <div class="footer_logo">
            <a href="#">
              <h3 class="text-uppercase cootau-logo">cootau.co</h3>
            </a>
            <!-- <h4>Follow Me</h4> -->
          </div>
          <div class="footer_social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer_bottom justify-content-center">
      <p class="col-lg-8 col-sm-12 footer-text">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>
          document.write(new Date().getFullYear());

        </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a href="https://colorlib.com" target="_blank">Colorlib</a><br />
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <a href="https://www.vecteezy.com/free-vector/id-card-background">Id Card Background Vectors by Vecteezy</a>
      </p>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->
